//
// Icons
//
// ---- Dependency Icons -----
// Tabler Icons: https://tabler-icons.io/
// Material Design Icons: https://pictogrammers.com/library/mdi/
//
// ----- Downloaded Icons -----
// Line Awesome: https://icons8.com/line-awesome 
// Remix Icon: https://remixicon.com

@import "./line-awesome.scss";
@import "./remixicon.scss";