.announcement {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.upcomingEvents {
  .v-sheet {
    .description {
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }
  }
}

.clientAppointmentList, .eventList {
  .v-table__wrapper {
    overflow: unset;

    tbody {
      display: flex;
      flex-wrap: wrap;
      flex: 1 1 auto;
      margin: -12px;
      justify-content: flex-start !important
    }
  }
}

.newNotification {
  .v-alert {
    background-color: #f8f9fa;
    transition: all 0.1s ease-in-out;

    &:hover {
      background-color: #dee2e6 !important;
    }

    &:active {
      background-color: #ced4da !important;
    }
  }
}
.notificationLog {
  .v-alert {
    transition: all 0.1s ease-in-out;

    &:hover {
      background-color: #dee2e6 !important;
    }
  }
}

// v-calendar
.vc-container {
  font-family: "Plus Jakarta Sans", sans-serif !important;

  .vc-header {
    margin-bottom: 10px;
    font-size: medium !important;

    button {
      transition: all 0.1s ease-in-out;

      &.vc-arrow {
        border-radius: 10px;
        font-size: 100px !important;
      }
    }
  }

  .vc-weekday {
    font-size: smaller !important;
  }

  .vc-day-content {
    transition: all 0.1s ease-in-out;
  }
}
.vc-light {
  --vc-focus-ring: 0 0 0 1px rgb(var(--v-theme-primary)) !important;
}
.vc-light.vc-attr,
.vc-light .vc-attr {
  --vc-highlight-solid-bg: rgb(var(--v-theme-primary)) !important;
}