//
// Custom Main SCSS File
//
// Framework: Bootstrap & Element-Plus
// Website: (1) https://getbootstrap.com/
//          (2) https://element-plus.org/en-US/

// Custom Cores & Layouts & Structure
@import "./variable.scss";
@import "./theme.scss";
@import "./layouts.scss";
@import "./custom.scss";

// Core Files
@import "./node_modules/bootstrap/scss/functions";
@import "./node_modules/bootstrap/scss/variables";
@import "./node_modules/bootstrap/scss/mixins";
@import "./node_modules/bootstrap/scss/bootstrap";

// Custom Bootstrap Components
@import "./../../components/bootstrap/form-control.scss";

// Custom Element Plus Components
@import "./../../components/element-plus/backtop.scss";
@import "./../../components/element-plus/datetime-picker.scss";
@import "./../../components/element-plus/input.scss";
@import "./../../components/element-plus/notification.scss";
@import "./../../components/element-plus/upload.scss";