.v-theme--PurpleTheme {
  --v-theme-background: 243, 244, 248 !important;
  --v-theme-primary: 43, 76, 101 !important;
  --v-border-color: 29, 28, 34 !important;
  // background-color: #68058d;

  // #95B4CC
  // #6B8BA4
  // #2B4C65
  // #1D1C22
  // #FFFFFF
}